In [283]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [284]:
# Dependencies
import numpy as np
import pandas as pd

In [285]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [286]:
df = pd.read_csv("Data/responses.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow
5,5.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,5.0,5.0,...,20.0,186.0,77.0,1.0,male,right handed,secondary school,no,city,block of flats

In [287]:
for col in df.columns: 
    print(col)

Music
Slow songs or fast songs
Dance
Folk
Country
Classical music
Musical
Pop
Rock
Metal or Hardrock
Punk
Hiphop, Rap
Reggae, Ska
Swing, Jazz
Rock n roll
Alternative
Latino
Techno, Trance
Opera
Movies
Horror
Thriller
Comedy
Romantic
Sci-fi
War
Fantasy/Fairy tales
Animated
Documentary
Western
Action
History
Psychology
Politics
Mathematics
Physics
Internet
PC
Economy Management
Biology
Chemistry
Reading
Geography
Foreign languages
Medicine
Law
Cars
Art exhibitions
Religion
Countryside, outdoors
Dancing
Musical instruments
Writing
Passive sport
Active sport
Gardening
Celebrities
Shopping
Science and technology
Theatre
Fun with friends
Adrenaline sports
Pets
Flying
Storm
Darkness
Heights
Spiders
Snakes
Rats
Ageing
Dangerous dogs
Fear of public speaking
Smoking
Alcohol
Healthy eating
Daily events
Prioritising workload
Writing notes
Workaholism
Thinking ahead
Final judgement
Reliability
Keeping promises
Loss of interest
Friends versus money
Funniness
Fake
Criminal damage
Decision making
Elections
Self-criticism
Judgment calls
Hypochondria
Empathy
Eating to survive
Giving
Compassion to animals
Borrowed stuff
Loneliness
Cheating in school
Health
Changing the past
God
Dreams
Charity
Number of friends
Punctuality
Lying
Waiting
New environment
Mood swings
Appearence and gestures
Socializing
Achievements
Responding to a serious letter
Children
Assertiveness
Getting angry
Knowing the right people
Public speaking
Unpopularity
Life struggles
Happiness in life
Energy levels
Small - big dogs
Personality
Finding lost valuables
Getting up
Interests or hobbies
Parents' advice
Questionnaires or polls
Internet usage
Finances
Shopping centres
Branded clothing
Entertainment spending
Spending on looks
Spending on gadgets
Spending on healthy eating
Age
Height
Weight
Number of siblings
Gender
Left - right handed
Education
Only child
Village - town
House - block of flats

In [288]:

music_features = df[['Music', 'Slow songs or fast songs', 'Dance', 'Folk','Country','Classical music','Musical','Pop','Rock','Metal or Hardrock','Punk','Hiphop, Rap','Reggae, Ska','Swing, Jazz','Rock n roll','Alternative','Latino','Techno, Trance','Opera']]

movie_features = df[['Movies','Horror','Thriller','Comedy','Romantic','Sci-fi','War','Fantasy/Fairy tales','Animated','Documentary','Western','Action']]


hobbies_features = df[['History','Psychology','Politics','Mathematics','Physics','Internet','PC','Economy Management','Biology','Chemistry','Reading','Geography','Foreign languages','Medicine','Law','Cars','Art exhibitions','Religion','Countryside, outdoors','Dancing','Musical instruments','Writing','Passive sport','Active sport','Gardening','Celebrities','Shopping','Science and technology','Theatre','Fun with friends','Adrenaline sports','Pets']]

phobia_features = df[['Flying','Storm','Darkness','Heights','Spiders','Snakes','Rats','Ageing','Dangerous dogs','Fear of public speaking']]


health_features = df[['Smoking','Alcohol', 'Healthy eating']]

personality_opinion_features = df[['Daily events','Prioritising workload','Writing notes','Workaholism','Thinking ahead','Final judgement','Reliability',
'Keeping promises','Loss of interest','Friends versus money','Funniness','Fake','Criminal damage','Decision making','Elections','Self-criticism','Judgment calls','Hypochondria','Empathy'
,'Eating to survive','Giving','Compassion to animals','Borrowed stuff','Loneliness','Cheating in school','Health','Changing the past','God'
,'Dreams','Charity','Number of friends','Punctuality','Lying','Waiting','New environment','Mood swings','Appearence and gestures','Socializing'
,'Achievements','Responding to a serious letter','Children','Assertiveness','Getting angry','Knowing the right people','Public speaking','Unpopularity'
,'Life struggles','Happiness in life','Energy levels','Small - big dogs','Personality','Finding lost valuables','Getting up','Interests or hobbies',"Parents' advice"
,'Questionnaires or polls','Internet usage']]

spending_features = df[['Finances','Shopping centres','Branded clothing','Entertainment spending','Spending on looks','Spending on gadgets','Spending on healthy eating']]

demographic_features = df[['Age','Height','Weight','Number of siblings','Gender','Left - right handed','Education','Only child','Village - town','House - block of flats']]

In [349]:
selected_features = df[["Weight","Height"]]

In [350]:
X = selected_features
y = df["Gender"]
print(X.shape, y.shape)

(674, 2) (674,)

In [351]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [352]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [353]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [354]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [355]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [356]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [366]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim= (X.shape[1])))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [367]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [368]:
model.summary()

Model: "sequential_28"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_84 (Dense)             (None, 100)               300
_________________________________________________________________
dense_85 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_86 (Dense)             (None, 2)                 202
=================================================================
Total params: 10,602
Trainable params: 10,602
Non-trainable params: 0
_________________________________________________________________

In [369]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
505/505 - 0s - loss: 0.6790 - acc: 0.5465
Epoch 2/100
505/505 - 0s - loss: 0.6354 - acc: 0.8119
Epoch 3/100
505/505 - 0s - loss: 0.5734 - acc: 0.8812
Epoch 4/100
505/505 - 0s - loss: 0.4927 - acc: 0.8792
Epoch 5/100
505/505 - 0s - loss: 0.4160 - acc: 0.8772
Epoch 6/100
505/505 - 0s - loss: 0.3486 - acc: 0.8931
Epoch 7/100
505/505 - 0s - loss: 0.3167 - acc: 0.8772
Epoch 8/100
505/505 - 0s - loss: 0.3045 - acc: 0.8931
Epoch 9/100
505/505 - 0s - loss: 0.2979 - acc: 0.8911
Epoch 10/100
505/505 - 0s - loss: 0.2926 - acc: 0.8891
Epoch 11/100
505/505 - 0s - loss: 0.2893 - acc: 0.8911
Epoch 12/100
505/505 - 0s - loss: 0.2869 - acc: 0.8871
Epoch 13/100
505/505 - 0s - loss: 0.2911 - acc: 0.8891
Epoch 14/100
505/505 - 0s - loss: 0.2925 - acc: 0.8891
Epoch 15/100
505/505 - 0s - loss: 0.2847 - acc: 0.8911
Epoch 16/100
505/505 - 0s - loss: 0.2814 - acc: 0.8931
Epoch 17/100
505/505 - 0s - loss: 0.2835 - acc: 0.8931
Epoch 18/100
505/505 - 0s - loss: 0.2838 - acc: 0.8871
Epoch 19/100
505/505 - 0s - loss: 0.2879 - acc: 0.8851
Epoch 20/100
505/505 - 0s - loss: 0.2877 - acc: 0.8911
Epoch 21/100
505/505 - 0s - loss: 0.2805 - acc: 0.8832
Epoch 22/100
505/505 - 0s - loss: 0.2838 - acc: 0.8832
Epoch 23/100
505/505 - 0s - loss: 0.2832 - acc: 0.8871
Epoch 24/100
505/505 - 0s - loss: 0.2799 - acc: 0.8970
Epoch 25/100
505/505 - 0s - loss: 0.2780 - acc: 0.8832
Epoch 26/100
505/505 - 0s - loss: 0.2807 - acc: 0.8931
Epoch 27/100
505/505 - 0s - loss: 0.2795 - acc: 0.8871
Epoch 28/100
505/505 - 0s - loss: 0.2794 - acc: 0.8911
Epoch 29/100
505/505 - 0s - loss: 0.2783 - acc: 0.8871
Epoch 30/100
505/505 - 0s - loss: 0.2818 - acc: 0.8871
Epoch 31/100
505/505 - 0s - loss: 0.2800 - acc: 0.8931
Epoch 32/100
505/505 - 0s - loss: 0.2793 - acc: 0.8911
Epoch 33/100
505/505 - 0s - loss: 0.2823 - acc: 0.8891
Epoch 34/100
505/505 - 0s - loss: 0.2771 - acc: 0.8911
Epoch 35/100
505/505 - 0s - loss: 0.2826 - acc: 0.8851
Epoch 36/100
505/505 - 0s - loss: 0.2789 - acc: 0.8851
Epoch 37/100
505/505 - 0s - loss: 0.2799 - acc: 0.8851
Epoch 38/100
505/505 - 0s - loss: 0.2766 - acc: 0.8911
Epoch 39/100
505/505 - 0s - loss: 0.2767 - acc: 0.8911
Epoch 40/100
505/505 - 0s - loss: 0.2804 - acc: 0.8851
Epoch 41/100
505/505 - 0s - loss: 0.2755 - acc: 0.8931
Epoch 42/100
505/505 - 0s - loss: 0.2761 - acc: 0.8891
Epoch 43/100
505/505 - 0s - loss: 0.2754 - acc: 0.8851
Epoch 44/100
505/505 - 0s - loss: 0.2787 - acc: 0.8871
Epoch 45/100
505/505 - 0s - loss: 0.2770 - acc: 0.8891
Epoch 46/100
505/505 - 0s - loss: 0.2750 - acc: 0.8891
Epoch 47/100
505/505 - 0s - loss: 0.2750 - acc: 0.8931
Epoch 48/100
505/505 - 0s - loss: 0.2747 - acc: 0.8832
Epoch 49/100
505/505 - 0s - loss: 0.2769 - acc: 0.8931
Epoch 50/100
505/505 - 0s - loss: 0.2833 - acc: 0.8851
Epoch 51/100
505/505 - 0s - loss: 0.2746 - acc: 0.8911
Epoch 52/100
505/505 - 0s - loss: 0.2737 - acc: 0.8871
Epoch 53/100
505/505 - 0s - loss: 0.2746 - acc: 0.8871
Epoch 54/100
505/505 - 0s - loss: 0.2763 - acc: 0.8911
Epoch 55/100
505/505 - 0s - loss: 0.2779 - acc: 0.8871
Epoch 56/100
505/505 - 0s - loss: 0.2744 - acc: 0.8871
Epoch 57/100
505/505 - 0s - loss: 0.2764 - acc: 0.8911
Epoch 58/100
505/505 - 0s - loss: 0.2810 - acc: 0.8931
Epoch 59/100
505/505 - 0s - loss: 0.2769 - acc: 0.8911
Epoch 60/100
505/505 - 0s - loss: 0.2737 - acc: 0.8931
Epoch 61/100
505/505 - 0s - loss: 0.2759 - acc: 0.8891
Epoch 62/100
505/505 - 0s - loss: 0.2758 - acc: 0.8851
Epoch 63/100
505/505 - 0s - loss: 0.2745 - acc: 0.8911
Epoch 64/100
505/505 - 0s - loss: 0.2742 - acc: 0.8891
Epoch 65/100
505/505 - 0s - loss: 0.2732 - acc: 0.8891
Epoch 66/100
505/505 - 0s - loss: 0.2740 - acc: 0.8911
Epoch 67/100
505/505 - 0s - loss: 0.2739 - acc: 0.8891
Epoch 68/100
505/505 - 0s - loss: 0.2736 - acc: 0.8931
Epoch 69/100
505/505 - 0s - loss: 0.2745 - acc: 0.8931
Epoch 70/100
505/505 - 0s - loss: 0.2733 - acc: 0.8891
Epoch 71/100
505/505 - 0s - loss: 0.2726 - acc: 0.8891
Epoch 72/100
505/505 - 0s - loss: 0.2719 - acc: 0.8911
Epoch 73/100
505/505 - 0s - loss: 0.2748 - acc: 0.8891
Epoch 74/100
505/505 - 0s - loss: 0.2759 - acc: 0.8851
Epoch 75/100
505/505 - 0s - loss: 0.2728 - acc: 0.8911
Epoch 76/100
505/505 - 0s - loss: 0.2738 - acc: 0.8851
Epoch 77/100
505/505 - 0s - loss: 0.2727 - acc: 0.8911
Epoch 78/100
505/505 - 0s - loss: 0.2756 - acc: 0.8911
Epoch 79/100
505/505 - 0s - loss: 0.2723 - acc: 0.8931
Epoch 80/100
505/505 - 0s - loss: 0.2739 - acc: 0.8950
Epoch 81/100
505/505 - 0s - loss: 0.2801 - acc: 0.8891
Epoch 82/100
505/505 - 0s - loss: 0.2763 - acc: 0.8871
Epoch 83/100
505/505 - 0s - loss: 0.2781 - acc: 0.8931
Epoch 84/100
505/505 - 0s - loss: 0.2771 - acc: 0.8891
Epoch 85/100
505/505 - 0s - loss: 0.2757 - acc: 0.8891
Epoch 86/100
505/505 - 0s - loss: 0.2727 - acc: 0.8931
Epoch 87/100
505/505 - 0s - loss: 0.2715 - acc: 0.8911
Epoch 88/100
505/505 - 0s - loss: 0.2731 - acc: 0.8871
Epoch 89/100
505/505 - 0s - loss: 0.2717 - acc: 0.8950
Epoch 90/100
505/505 - 0s - loss: 0.2726 - acc: 0.8931
Epoch 91/100
505/505 - 0s - loss: 0.2714 - acc: 0.8970
Epoch 92/100
505/505 - 0s - loss: 0.2710 - acc: 0.8911
Epoch 93/100
505/505 - 0s - loss: 0.2751 - acc: 0.8931
Epoch 94/100
505/505 - 0s - loss: 0.2730 - acc: 0.8891
Epoch 95/100
505/505 - 0s - loss: 0.2731 - acc: 0.8871
Epoch 96/100
505/505 - 0s - loss: 0.2732 - acc: 0.8891
Epoch 97/100
505/505 - 0s - loss: 0.2727 - acc: 0.8891
Epoch 98/100
505/505 - 0s - loss: 0.2726 - acc: 0.8931
Epoch 99/100
505/505 - 0s - loss: 0.2736 - acc: 0.8871
Epoch 100/100
505/505 - 0s - loss: 0.2817 - acc: 0.8891

In [370]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

169/169 - 0s - loss: 0.3051 - acc: 0.8757
Deep Neural Network - Loss: 0.30506979890123626, Accuracy: 0.8757396340370178

In [371]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [365]:
predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(predictions)
pd.DataFrame({"Prediction": prediction_labels, "Actual": y_test}).head(50)

    Prediction  Actual
585       male    male
503     female  female
1       female  female
450       male    male
593     female  female
50      female  female
702       male    male
301       male    male
546       male    male
430     female  female
257       male    male
995     female  female
822     female  female
70        male    male
852       male    male
794       male    male
190     female  female
711     female  female
203     female  female
175     female  female
74        male    male
544       male    male
304     female  female
628     female    male
894     female  female
752     female  female
979       male    male
634     female  female
293     female  female
339     female  female
332     female  female
287     female  female
42      female  female
309     female  female
111     female  female
903       male    male
312     female    male
907     female  female
933     female  female
327     female  female
390       male    male
535     female    male
764     female  female
618     female  female
35      female  female
927     female  female
554       male    male
169     female  female
809       male    male
511       male    male