In [1]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(1)

In [2]:
# Dependencies
import numpy as np
import pandas as pd

In [3]:
import tensorflow
tensorflow.keras.__version__

'2.2.4-tf'

In [4]:
df = pd.read_csv("Data/responses.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow
5,5.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,5.0,5.0,...,20.0,186.0,77.0,1.0,male,right handed,secondary school,no,city,block of flats

In [5]:
for col in df.columns: 
    print(col)

Music
Slow songs or fast songs
Dance
Folk
Country
Classical music
Musical
Pop
Rock
Metal or Hardrock
Punk
Hiphop, Rap
Reggae, Ska
Swing, Jazz
Rock n roll
Alternative
Latino
Techno, Trance
Opera
Movies
Horror
Thriller
Comedy
Romantic
Sci-fi
War
Fantasy/Fairy tales
Animated
Documentary
Western
Action
History
Psychology
Politics
Mathematics
Physics
Internet
PC
Economy Management
Biology
Chemistry
Reading
Geography
Foreign languages
Medicine
Law
Cars
Art exhibitions
Religion
Countryside, outdoors
Dancing
Musical instruments
Writing
Passive sport
Active sport
Gardening
Celebrities
Shopping
Science and technology
Theatre
Fun with friends
Adrenaline sports
Pets
Flying
Storm
Darkness
Heights
Spiders
Snakes
Rats
Ageing
Dangerous dogs
Fear of public speaking
Smoking
Alcohol
Healthy eating
Daily events
Prioritising workload
Writing notes
Workaholism
Thinking ahead
Final judgement
Reliability
Keeping promises
Loss of interest
Friends versus money
Funniness
Fake
Criminal damage
Decision making
Elections
Self-criticism
Judgment calls
Hypochondria
Empathy
Eating to survive
Giving
Compassion to animals
Borrowed stuff
Loneliness
Cheating in school
Health
Changing the past
God
Dreams
Charity
Number of friends
Punctuality
Lying
Waiting
New environment
Mood swings
Appearence and gestures
Socializing
Achievements
Responding to a serious letter
Children
Assertiveness
Getting angry
Knowing the right people
Public speaking
Unpopularity
Life struggles
Happiness in life
Energy levels
Small - big dogs
Personality
Finding lost valuables
Getting up
Interests or hobbies
Parents' advice
Questionnaires or polls
Internet usage
Finances
Shopping centres
Branded clothing
Entertainment spending
Spending on looks
Spending on gadgets
Spending on healthy eating
Age
Height
Weight
Number of siblings
Gender
Left - right handed
Education
Only child
Village - town
House - block of flats

In [41]:

music_features = df[['Music', 'Slow songs or fast songs', 'Dance', 'Folk','Country','Classical music','Musical','Pop','Rock','Metal or Hardrock','Punk','Hiphop, Rap','Reggae, Ska','Swing, Jazz','Rock n roll','Alternative','Latino','Techno, Trance','Opera']]

movie_features = df[['Movies','Horror','Thriller','Comedy','Romantic','Sci-fi','War','Fantasy/Fairy tales','Animated','Documentary','Western','Action']]


hobbies_features = df[['History','Psychology','Politics','Mathematics','Physics','Internet','PC','Economy Management','Biology','Chemistry','Reading','Geography','Foreign languages','Medicine','Law','Cars','Art exhibitions','Religion','Countryside, outdoors','Dancing','Musical instruments','Writing','Passive sport','Active sport','Gardening','Celebrities','Shopping','Science and technology','Theatre','Fun with friends','Adrenaline sports','Pets']]

phobia_features = df[['Flying','Storm','Darkness','Heights','Spiders','Snakes','Rats','Ageing','Dangerous dogs','Fear of public speaking']]


health_features = df[['Smoking','Alcohol', 'Healthy eating']]

personality_opinion_features = df[['Daily events','Prioritising workload','Writing notes','Workaholism','Thinking ahead','Final judgement','Reliability',
'Keeping promises','Loss of interest','Friends versus money','Funniness','Fake','Criminal damage','Decision making','Elections','Self-criticism','Judgment calls','Hypochondria','Empathy'
,'Eating to survive','Giving','Compassion to animals','Borrowed stuff','Loneliness','Cheating in school','Health','Changing the past','God'
,'Dreams','Charity','Number of friends','Punctuality','Lying','Waiting','New environment','Mood swings','Appearence and gestures','Socializing'
,'Achievements','Responding to a serious letter','Children','Assertiveness','Getting angry','Knowing the right people','Public speaking','Unpopularity'
,'Life struggles','Happiness in life','Energy levels','Small - big dogs','Personality','Finding lost valuables','Getting up','Interests or hobbies',"Parents' advice"
,'Questionnaires or polls','Internet usage']]

spending_features = df[['Finances','Shopping centres','Branded clothing','Entertainment spending','Spending on looks','Spending on gadgets','Spending on healthy eating']]

demographic_features = df[['Age','Height','Weight','Number of siblings','Gender','Left - right handed','Education','Only child','Village - town','House - block of flats']]

In [73]:
selected_features = hobbies_features

In [74]:
X = selected_features
y = df["Gender"]
print(X.shape, y.shape)

(674, 32) (674,)

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [76]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [77]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [78]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [79]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [80]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [81]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim= (X.shape[1])))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [82]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [83]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 100)               3300
_________________________________________________________________
dense_13 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_14 (Dense)             (None, 2)                 202
=================================================================
Total params: 13,602
Trainable params: 13,602
Non-trainable params: 0
_________________________________________________________________

In [87]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=50,
    shuffle=True,
    verbose=2
)

Epoch 1/50
505/505 - 0s - loss: 8.1724e-04 - acc: 1.0000
Epoch 2/50
505/505 - 0s - loss: 8.1944e-04 - acc: 1.0000
Epoch 3/50
505/505 - 0s - loss: 7.8532e-04 - acc: 1.0000
Epoch 4/50
505/505 - 0s - loss: 7.5350e-04 - acc: 1.0000
Epoch 5/50
505/505 - 0s - loss: 7.3945e-04 - acc: 1.0000
Epoch 6/50
505/505 - 0s - loss: 6.9701e-04 - acc: 1.0000
Epoch 7/50
505/505 - 0s - loss: 7.0057e-04 - acc: 1.0000
Epoch 8/50
505/505 - 0s - loss: 6.8493e-04 - acc: 1.0000
Epoch 9/50
505/505 - 0s - loss: 6.8530e-04 - acc: 1.0000
Epoch 10/50
505/505 - 0s - loss: 6.4455e-04 - acc: 1.0000
Epoch 11/50
505/505 - 0s - loss: 6.2795e-04 - acc: 1.0000
Epoch 12/50
505/505 - 0s - loss: 6.0378e-04 - acc: 1.0000
Epoch 13/50
505/505 - 0s - loss: 6.0239e-04 - acc: 1.0000
Epoch 14/50
505/505 - 0s - loss: 5.7407e-04 - acc: 1.0000
Epoch 15/50
505/505 - 0s - loss: 5.7191e-04 - acc: 1.0000
Epoch 16/50
505/505 - 0s - loss: 5.5955e-04 - acc: 1.0000
Epoch 17/50
505/505 - 0s - loss: 5.4287e-04 - acc: 1.0000
Epoch 18/50
505/505 - 0s - loss: 5.4569e-04 - acc: 1.0000
Epoch 19/50
505/505 - 0s - loss: 5.3716e-04 - acc: 1.0000
Epoch 20/50
505/505 - 0s - loss: 5.3091e-04 - acc: 1.0000
Epoch 21/50
505/505 - 0s - loss: 4.9058e-04 - acc: 1.0000
Epoch 22/50
505/505 - 0s - loss: 5.0304e-04 - acc: 1.0000
Epoch 23/50
505/505 - 0s - loss: 4.8057e-04 - acc: 1.0000
Epoch 24/50
505/505 - 0s - loss: 4.6137e-04 - acc: 1.0000
Epoch 25/50
505/505 - 0s - loss: 4.4821e-04 - acc: 1.0000
Epoch 26/50
505/505 - 0s - loss: 4.4097e-04 - acc: 1.0000
Epoch 27/50
505/505 - 0s - loss: 4.3645e-04 - acc: 1.0000
Epoch 28/50
505/505 - 0s - loss: 4.2034e-04 - acc: 1.0000
Epoch 29/50
505/505 - 0s - loss: 4.1658e-04 - acc: 1.0000
Epoch 30/50
505/505 - 0s - loss: 4.0158e-04 - acc: 1.0000
Epoch 31/50
505/505 - 0s - loss: 3.9124e-04 - acc: 1.0000
Epoch 32/50
505/505 - 0s - loss: 3.8952e-04 - acc: 1.0000
Epoch 33/50
505/505 - 0s - loss: 3.7580e-04 - acc: 1.0000
Epoch 34/50
505/505 - 0s - loss: 3.7099e-04 - acc: 1.0000
Epoch 35/50
505/505 - 0s - loss: 3.6239e-04 - acc: 1.0000
Epoch 36/50
505/505 - 0s - loss: 3.5674e-04 - acc: 1.0000
Epoch 37/50
505/505 - 0s - loss: 3.4942e-04 - acc: 1.0000
Epoch 38/50
505/505 - 0s - loss: 3.4977e-04 - acc: 1.0000
Epoch 39/50
505/505 - 0s - loss: 3.3229e-04 - acc: 1.0000
Epoch 40/50
505/505 - 0s - loss: 3.2956e-04 - acc: 1.0000
Epoch 41/50
505/505 - 0s - loss: 3.2178e-04 - acc: 1.0000
Epoch 42/50
505/505 - 0s - loss: 3.1200e-04 - acc: 1.0000
Epoch 43/50
505/505 - 0s - loss: 3.0571e-04 - acc: 1.0000
Epoch 44/50
505/505 - 0s - loss: 3.0112e-04 - acc: 1.0000
Epoch 45/50
505/505 - 0s - loss: 2.9740e-04 - acc: 1.0000
Epoch 46/50
505/505 - 0s - loss: 2.8847e-04 - acc: 1.0000
Epoch 47/50
505/505 - 0s - loss: 2.9055e-04 - acc: 1.0000
Epoch 48/50
505/505 - 0s - loss: 2.8552e-04 - acc: 1.0000
Epoch 49/50
505/505 - 0s - loss: 2.8599e-04 - acc: 1.0000
Epoch 50/50
505/505 - 0s - loss: 2.8098e-04 - acc: 1.0000

In [88]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Deep Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

169/169 - 0s - loss: 1.4902 - acc: 0.8284
Deep Neural Network - Loss: 1.490171325982675, Accuracy: 0.8284023404121399

In [89]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [72]:
predictions = model.predict_classes(X_test_scaled)
prediction_labels = label_encoder.inverse_transform(predictions)
pd.DataFrame({"Prediction": prediction_labels, "Actual": y_test}).head(50)

    Prediction  Actual
585     female    male
503     female  female
1         male  female
450       male    male
593       male  female
50      female  female
702       male    male
301       male    male
546       male    male
430     female  female
257       male    male
995     female  female
822     female  female
70      female    male
852       male    male
794     female    male
190     female  female
711       male  female
203       male  female
175     female  female
74      female    male
544       male    male
304       male  female
628     female    male
894     female  female
752     female  female
979     female    male
634       male  female
293     female  female
339     female  female
332     female  female
287     female  female
42      female  female
309       male  female
111     female  female
903     female    male
312       male    male
907     female  female
933     female  female
327     female  female
390       male    male
535     female    male
764     female  female
618     female  female
35      female  female
927     female  female
554       male    male
169     female  female
809       male    male
511       male    male